@import "tailwindcss";

/* Hide scrollbar but keep scrolling */
::-webkit-scrollbar {
  display: none;
}

/* For Firefox */
* {
  scrollbar-width: none;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
}
